<!DOCTYPE HTML>
<html>
<head>
    <title>Observed data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo=" crossorigin="anonymous" />
    <style>
      /* .data {
        font-size: 16pt;
      } */
      canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
      .tooltip.in {
        opacity: 1;
      }
      #slider-wr {
        margin-top: 20pt;
      }
    </style>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js" integrity="sha256-oj52qvIP5c7N6lZZoh9z3OYacAIOjsROAcZBHUaJMyw=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var plots = [];
    var color = Chart.helpers.color;
    function have_source(needle, haystack) {
      var rv = false;
      $.each(haystack, function(index, value){
        if(needle.id == value.id){
          rv = true;
        }
      })
      return rv;
    }
    function initial_plot(source, type, last_data_at, title, hist_hours){
      var data_points = new Array()
      console.log(data_points)
      $("#plots").append("<div class=\"chartjs-wrapper\" dir=><canvas id=\"plot-" + source + "-" + type + "\"></canvas></div>")
      var ctx = document.getElementById("plot-" + source + "-" + type).getContext("2d");
      start = new Date(last_data_at.getTime());
      start.setHours(start.getHours() - hist_hours);
      url = "/data/" + source + "/" + type + "/" + last_data_at.toISOString() + "/" + start.toISOString();
      console.log("URL = ", url)
      var dataChart;
      $.get(url, function (data) {
        $.each(data.Data, function(key, value) {
          data_points.push({x: new Date(value.entity_created + "Z"), y: value.value})
        })
        dataChart = new Chart(ctx, {
            type: "line",
            data: {
                datasets: [{
                    label: title,
                    data: data_points,
                    backgroundColor: color('rgb(54, 162, 235)').alpha(0.5).rgbString(),
                    borderColor: color('rgb(54, 162, 235)').alpha(0.5).rgbString(),
                    fill: false,
                    pointRadius: 0
                }]
            },
            options: {
                responsive: true,
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                          parser: "HH:mm",
                          unit: 'hour',
                          unitStepSize: 1,
                          displayFormats: {
                            'minute': 'HH:mm',
                            'hour': 'HH:mm'
                          }
                        },
                        scaleLabel: {
                          display: true,
                          labelString: "Date / time"
                        },
                        afterFit: function(scale) {
                          var chartHeight = scale.chart.height;
                          var new_height = chartHeight * 0.15;
                          scale.height = new_height;
                          }
                    }],
                    yAxes: [{
                      type: "linear",
                      afterFit: function(scale) {
                        var chartWidth = scale.chart.width;
                        var new_width = chartWidth * 0.1;
                        scale.width = new_width;
                        }
                    }]
                },
                legend: {
                    labels: {
                      display: true
                    }
                }

            },
            plugins: [{
                /* Adjust axis labelling font size according to chart size */
                beforeDraw: function(c) {
                    var chartHeight = c.chart.height;
                    var size = chartHeight * 5 / 100;
                    c.scales['y-axis-0'].options.ticks.minor.fontSize = size;
                    c.scales['y-axis-0'].options.scaleLabel.fontSize = size;
                    c.scales['x-axis-0'].options.ticks.minor.fontSize = size;
                    c.scales['x-axis-0'].options.scaleLabel.fontSize = size;
                    c.options.legend.labels.fontSize = size;
                }
            }]
        });
        plots[source + "-" + type] = dataChart;
      });
    }
    var plot_data = [];
    var sources;
    var types;
    var last_values = [];

        $(document).ready(function() {
          // Connect to the Socket.IO server.
          // The connection URL has the following format, relative to the current page:
          //     http[s]://<domain>:<port>[/<namespace>]
          socket = io("/datasocket");

          // Event handler for new connections.
          // The callback function is invoked when a connection with the
          // server is established.
          socket.on("connect", function() {
              console.log("Connected to socket");
              $.get("/data/dates", function (data) {
                console.log("Got dates")
                console.log(data)
                $("#current-data").empty()
                $("#data-source-select").empty()
                types = []
                sources = []
                $.each(data.Dates, function(key, value) {
                  // $("#data-type-select").append(new Option(value.data_type_name, value.data_type_id, true, true));
                  _source = {"id": value.data_source_id, "name": value.data_source_name}
                  _type = {"source_id": value.data_source_id, "id": value.data_type_id, "name": value.data_type_name, "last_val": new Date(value.max_date + "Z"), "units": value.units}
                  if(!have_source(_source, sources)) {
                    sources.push(_source)
                    $("#data-source-select").append(new Option(value.data_source_name, value.data_source_id, true, true));
                  }
                  types.push(_type)
                });
                current_source = $("#data-source-select").val()
                $.each(types, function(index, value){
                  if(value.source_id == current_source) {
                    data_value = "Waiting for data"
                    if(current_source + "-" + value.id in last_values){
                      data_value = last_values[current_source + "-" + value.id].value + " @ " + last_values[current_source + "-" + value.id].time.toString()
                    }
                    $("#current-data").append(
                      "<div class=\"row\" id=\"row-" + current_source + "-" + value.id + "\">" +
                      "<div class=\"col-sm-4 data\">" + value.name + ", " + value.units + "</div><div class=\"col-sm-8 data\" id=\"data-" + current_source + "-" + value.id + "\">" + data_value + "</div>" +
                      "</div>"
                    ).html();
                    initial_plot(current_source, value.id, value.last_val, value.name + ", " + value.units, $("#hist-hours").val());
                    socket.emit("select_source_type", {source: current_source, type: value.id});
                  }
                });
              });
          });

          socket.on("nds_response", function(msg) {
            console.log("nds_response: ", msg)
            // $("#log").append("<br>" + $("<div/>").text("NDS response: ", msg).html());
          });

          function new_data_handler(msg, initial = false) {
            console.log("new_data: ", msg, " initial = ", initial)
            // $("#log").append("<br>" + $("<div/>").text("New.data: (" + msg.data_source_id + "|" + msg.data_type_id + ":" + msg.entity_created + ") = " + msg.value).html());
            obs_time = new Date(msg.entity_created + "Z")
            $("#data-" + msg.data_source_id + "-" + msg.data_type_id).html(msg.value + " @ " + obs_time.toString())
            last_values[msg.data_source_id + "-" + msg.data_type_id] = {value: msg.value, time: obs_time}
            // console.log(plots)
            if(!initial) {
              plots[msg.data_source_id + "-" + msg.data_type_id].data.datasets[0].data.push({x: obs_time, y: msg.value})
              plots[msg.data_source_id + "-" + msg.data_type_id].data.datasets[0].data.shift()
              plots[msg.data_source_id + "-" + msg.data_type_id].update()
            }
          }

          socket.on("new_data", function(msg) {
            new_data_handler(msg, false)
          });
          socket.on("initial_data", function(msg) {
            new_data_handler(msg, true)
          });

          $("#hist-hours").slider({
            tooltip: 'always'
          });

          var wto;
          $("#hist-hours").change(function() {
            clearTimeout(wto);
            wto = setTimeout(function() {
              current_source = $("#data-source-select").val()
              $("#plots").empty();
              $.each(types, function(index, value){
                if(value.source_id == current_source) {
                  initial_plot(current_source, value.id, last_values[current_source + "-" + value.id].time, value.name + ", " + value.units, $("#hist-hours").val());
                }
              });
            }, 1000);
          });
        });
    </script>
</head>
<body>
  <div class="container">
    <h1>Observed data</h1>
    <div>
    <form id="data-def" method="POST" action="#">
        <select name="data-source" id="data-source-select" onChange="reloadData();">
        </select>
    </form></div>
    <div id="current-data"></div>
    <div id="slider-wr" class="data">
      History length (hours) <input id="hist-hours" data-slider-id='hist-hours-slider' type="text" data-slider-min="1" data-slider-max="48" data-slider-step="1" data-slider-value="6"/>
    </div>
    <div id="plots"></div>
    <div id="log"></div>
  </div>
</body>
</html>
