<!DOCTYPE HTML>
<html>
<head>
    <title>Observed data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .data {
        font-size: 14pt;
      }
    </style>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    function have_source(needle, haystack) {
      $.each(haystack, function(index, value){
        if(needle.id == value.id){
          return true
        }
      })
      return false
    }
        $(document).ready(function() {
          // Connect to the Socket.IO server.
          // The connection URL has the following format, relative to the current page:
          //     http[s]://<domain>:<port>[/<namespace>]
          socket = io("/datasocket");

          var plot_data = [];
          var sources;
          var types;
          last_values = {}

          // Event handler for new connections.
          // The callback function is invoked when a connection with the
          // server is established.
          socket.on("connect", function() {
              console.log("Connected to socket");
              $.get("/data/dates", function (data) {
                console.log("Got dates")
                console.log(data)
                $("#current-data").empty()
                $("#data-source-select").empty()
                types = []
                sources = []
                $.each(data.Dates, function(key, value) {
                  // $("#data-type-select").append(new Option(value.data_type_name, value.data_type_id, true, true));
                  _source = {'id': value.data_source_id, 'name': value.data_source_name}
                  _type = {'source_id': value.data_source_id, 'id': value.data_type_id, 'name': value.data_type_name, 'last_val': new Date(value.max_date), 'units': value.units}
                  if(!have_source(_source, sources)) {
                    sources.push(_source)
                    $("#data-source-select").append(new Option(value.data_source_name, value.data_source_id, true, true));
                  }
                  types.push(_type)
                })
                current_source = $("#data-source-select").val()
                $.each(types, function(index, value){
                  if(value.source_id == current_source) {
                    data_value = 'Waiting for data'
                    if(current_source + "-" + value.id in last_values){
                      data_value = last_values[current_source + "-" + value.id]
                    }
                    $("#current-data").append(
                      "<div class=\"row\" id=\"row-" + current_source + "-" + value.id + "\">" +
                      "<div class=\"col-sm-4 data\">" + value.name + ", " + value.units + "</div><div class=\"col-sm-8 data\" id=\"data-" + current_source + "-" + value.id + "\">" + data_value + "</div>" +
                      "</div>"
                    ).html();
                    socket.emit("select_source_type", {source: current_source, type: value.id});
                  }
                })
              })
          });

          // Handlers for the different forms in the page.
          // These accept data from the user and send it to the server in a
          // variety of ways
          // $("form#data-def").submit(function(event) {
          //   console.log("Source: ", $("#data-source-select").val(), "Type: ", $("#data-type-select").val())
          //   socket.emit("select_source_type", {source: $("#data-source-select").val(), type: $("#data-type-select").val()});
          //   return false;
          // });

          socket.on("nds_response", function(msg) {
            console.log("nds_response: ", msg)
            // $("#log").append("<br>" + $("<div/>").text("NDS response: ", msg).html());
          });

          socket.on("new_data", function(msg) {
            console.log("new_data", msg)
            // $("#log").append("<br>" + $("<div/>").text("New.data: (" + msg.data_source_id + "|" + msg.data_type_id + ":" + msg.entity_created + ") = " + msg.value).html());
            obs_time = new Date(msg.entity_created + "Z")
            $("#data-" + msg.data_source_id + "-" + msg.data_type_id).html(msg.value + " @ " + obs_time.toString())
            last_values[msg.data_source_id + "-" + msg.data_type_id] = msg.value + " @ " + obs_time.toString()
          })
        });
    </script>
</head>
<body>
  <div class="container">
    <h1>Observed data</h1>
    <div>
    <form id="data-def" method="POST" action="#">
        <select name="data-source" id="data-source-select" onChange="reloadData();">
        </select>
    </form></div>
    <div class="graph"></div>
    <div id="log"></div>
    <div id="current-data"></div>
  </div>
</body>
</html>
